
body {
  background-color: black;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  color: #b0e0e6;
  background-color: #9370db;
 }

p {
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
}

img {
  border-style: none;
  margin: 10px 10px 10px 10px;
  width: 90%;
}

.avatar {
  width: 300px;
}

.wrapper {
  margin: 10px 10px 10px 10px;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: right;
  margin-top: 5px;
}

.style {
  font-style: italic;
  font-size: 20px;
}

.container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.photos {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "a b"
  "c d";
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  padding: 3px;
  display: inline-flex;
}

#nav a:link {
  color: #b0e0e6;
  background-color: black;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

#nav a:hover, #nav a:active {
  background-color: lavender;
}

#nav a:visited {
  color: blue;
}

#photo1 {
  grid-area: a;
}

#photo2 {
  grid-area: b;
}

#photo3 {
  grid-area: c;
}

#photo4 {
  grid-area: d;
}

@media (max-width: 350px) {

    .photos {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      grid-template-areas:
      "a"
      "b"
      "c"
      "d";
    }
    .avatar {
      width: 150px;
    }

    img {
    float:none;
    width: 90%;
    margin: 10px 10px 10px 10px;
    }

    .container {
  		flex-direction: column;
  		flex-wrap: wrap;
  	}
    #nav li {
      padding: 4px;
      display: flex;
      justify-content: center;
      }
}


@media (min-width: 800px) {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "a b c d";
  }
  img {
    float: none;
    width: 90%;
  }
}
