/*styles go here*/

/*p {
  color: red;
}*/

body {
  background-color: black;
  text-align: center;
  max-width: 90%;
}

p {
  color: white;
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  color: #b0e0e6;
  background-color: #9370db;
 }

img {
  border-style: none;
  margin: 10px 10px 10px 10px;
  float: left;
  width: 300px;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: right;
  margin-top: 5px;
}

.style {
  font-style: italic;
  font-size: 20px;
}

.container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.photos {
  justify-content: center;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  padding: 3px;
  display: inline-flex;
}

#nav a:link {
  color: #b0e0e6;
  background-color: black;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

#nav a:hover, #nav a:active {
  background-color: lavender;
}

#nav a:visited {
  color: blue;
}

#photo1 {
  grid-area: a;
}

#photo2 {
  grid-area: b;
}

#photo3 {
  grid-area: c;
}

#photo4 {
  grid-area: d;
}

@media screen (max-width: 350px) {

    img {
    float:none;
    width: 200px;
    }
    .container {
  		flex-direction: column;
  		flex-wrap: wrap;
  	}
    #nav li {
      padding: 4px;
      display: flex;
      justify-content: center;
      }
}


@media screen (min-width: 800px) {
  .photos {
    display: grid;
    grid-template-columns: 200px;
    grid-gap: 200px;
    grid-template-areas:
        "a b"
        "c d";
  }
}
