/*styles go here*/

/*p {
  color: red;
}*/

p {
  color: white;
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 10px;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  color: #b0e0e6;
  background-color: #9370db;
  line-height: 90px;
}

body {
  background-color: black;
  text-align: center;
}

img {
  border: none;
}

#container {
  /*margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin: 0 auto 0 auto; */
  width: 90%;
  margin: 0 auto;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: right;
  margin-top: 5px;
}

.style {
  font-style: italic;
  font-size: 20px;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
}

#nav a:link {
  display: block;
  color: purple;
  background-color: black;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: underline;
}

#nav a:hover, #nav a:active {
  background-color: lavender;
}

#nav a:visited {
  color: blue;
}
